@use './variables' as *;
@use './mixins' as *;
@import "bootstrap/scss/bootstrap";

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

	font-family: 'Roboto';
	font-size: 14px;

	color: #FFFFFF;

	transition: all 0.4s ease-in-out;
}

/* REGOLE GENERALI */
body{
	background-color: $my-black;
}
.bg-my-black{
	background-color: $blue-grey;
}
section{
	margin-bottom: 6rem;
}
.section-header{
	margin-bottom: 4rem;
	
	padding-left: 1rem;
	padding-bottom: 0.75rem;

	border-left: 2px solid $my-green;
	border-bottom: $border-blue-grey;
}

ul{
	@include flex-between;
	
	margin: 0;

	padding: 0;

	list-style-type: none;
}

a{
	color: #FFFFFF;
	
	text-decoration: none;
}

/* TESTI */
.text-grey{
	color: #82868B;
}

.font-md{
	font-size: 15px;
}

h2, h3, h4, h5, h6, button{
	font-weight: 700;
}

p{
	line-height: 24px;
}

/* CARDS */
.my-card{
	position: relative;

	overflow: hidden;
}

.my-card > div{
	position: absolute;

	z-index: 2;
}

.my-card::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.5);
}

.label{
	padding: .75rem 1.2rem;

	cursor: pointer;
}

.left-label{
	left: 0;

	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.right-label{
	right: 0;

	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
}

.bottom-label{
	bottom: 1.5rem;

	background-color: $my-black;
}

/* CLASSI */
.my-container{
	width: 77%;

	margin: 0 auto;
}

.my-row-between{
	@include flex-between;

	width: 100%;
}

.col-right{
	text-align: right;
}

.list-column{
	flex-direction: column;
}

.dropdown-menu{
	min-width: 200px;
}

.green-dot, .rounded-pill{
	background-color: $my-green;
}

.rounded-pill{
	border: none;
}

.border-secondary{
	border: $border-blue-grey;
}

.color-white{
	color: #FFFFFF;
}

.color-green{
	color: $my-green;
}

.debug{
	border: 1px solid lightcoral;
}

/* EFFETTI HOVER */
.my-card:hover::after{
	background-color: rgba($my-green, 0.25);
	background: linear-gradient(180deg, rgba($my-green, 0.5) 5%, rgba($blue-grey, 0.9) 90%);
}

a:hover, i:hover{
	color: $my-green !important;
	& *{
		color: $my-green !important;
	}
}

.white-hover:hover{
	color: #000000;
	background-color: #FFFFFF;
}

.bottom-label:hover{
	background-color: $my-green;
}

#social-dots{
	a:hover{
		background-color: $blue-grey !important;
	}
}

.my-card:hover img{
	transform: scale(1.25);
}

#movie-cards{
	.movie-category{
		position: relative;

		&:after {
			content: "";

			position: absolute;
			bottom: -2px;
			left: 0;

			width: 0px;
			height: 1px;
			
			background: $my-green;

			transition: width 0.4s ease-in-out;
		}

		&:hover:after {
			width: 100%;
		}
	}
}